/* Навигация
    1)index.html
    2)portfolio */
/* Основной цвет #212121 */
/* Вторычний цвет #757575 */
/* Цвет белый #ffffff */
/* Акцент #2196F3 */
/* Цвет фона #E5E5E5*/
/* Вторычний цвет фона 2F303A*/
/* Убирает отсутпи */

/* Текст Roboto 400 500 700 900  sans-serif*/
/* Текст Raleway 700  sans-serif*/

/* Изменяем на тип блока бордер-бокс */

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --white-color: #ffffff;
  --footer-background: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  /* index.html */
  --team-background: #f5f4fa;
  --hero-background: #2f303a;
  --hero-gradient: rgba(47, 48, 58, 0.4);
}
/* Скривает текст */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Body */
body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  /* Убирает автоматические отступи */
  margin: 0px;
}

/* Убирает подчеркивание ссылок */
a {
  text-decoration: none;
}

/* Удаляет точки возли списков */
li {
  list-style: none;
}
ul {
  padding-left: 0px;
  padding: 0px;
  margin: 0px;
}

/* Header */
.portfolio-visited .link:visited {
  color: var(--accent-color);
}
.index-visited .link:visited {
  color: var(--accent-color);
}
header {
  height: 80px;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}
.header-box {
  display: flex;
  align-items: center;
}
/* Цвет и ховери ссылок */

/* SAIT-nav */
.nav {
  margin-left: 94px;
}
.sait-nav {
  display: flex;
}
.sait-nav .item + .item {
  margin-left: 50px;
}
.sait-nav a {
  display: block;
  padding-top: 30px;
  padding-bottom: 20px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.sait-nav .link:hover,
.sait-nav .link:focus {
  color: var(--accent-color);
}

/* LINK-header */
.link-header {
  display: flex;
  margin-left: auto;
}
.link-header .item + .item {
  margin-left: 50px;
}
.link-header a {
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.link-header .link:hover,
.link-header .link:focus {
  color: var(--accent-color);
}

.link-box .link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
}

.link-icon-item {
  fill: currentColor;
}

/* Logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Footer */
.container.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer {
  height: 252px;
  color: var(--white-color);
  background-color: var(--footer-background);
  font-size: 14px;
  line-height: 1.7;
}
.link-footer .link a {
  color: var(--footer-link-color);
}
.link-footer .link {
  margin-top: 9px;
}
.link-footer {
  margin-top: 20px;
}
.social-list-title {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* CONTAINER */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* INDEX.HTML */
/* Hero */
.hero-background {
  background-image: linear-gradient(
      to right,
      var(--hero-gradient),
      var(--hero-gradient)
    ),
    url(../Img/hero-backgraund.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  height: 600px;
  margin-top: 0px;

  background-color: var(--hero-background);
  letter-spacing: 0.06em;
  text-align: center;
}
.container.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-top: 0px;
  margin-bottom: 30px;
}

.hero .link {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.hero-btn {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;
  min-width: 200px;
}
/* Section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin: 0px;
  padding-bottom: 50px;
  padding-top: 94px;
}

/* Advantage-приемущества */

.advantage-box {
  display: flex;
  justify-content: space-around;
  padding-top: 94px;
}
.advantage > .item + .item {
  margin-left: 30px;
}
.advantage .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  margin: 0px;
  margin-bottom: 10px;
}
.advantage .text {
  font-size: 14px;
  line-height: 1.7;
  margin: 0px;
}
/* what-we-do */
.what-do-box {
  display: flex;
  padding-bottom: 94px;
}
.what-do-box > .item {
  justify-content: space-around;
}
.what-do-box > .item + .item {
  margin-left: 30px;
}

/* Team-команда */
.section-team {
  background-color: var(--team-background);
}
.team-box {
  display: flex;
  padding-bottom: 94px;
}
.team-box > .item {
  justify-content: space-between;
}
.team > .item + .item {
  margin-left: 30px;
}
.team .card-bg {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
}
.team-img {
  margin-bottom: 30px;
}
.team .work {
  font-size: 16px;
  line-height: 1.2;
  margin: 0px;
  text-align: center;
}
.social-list-icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}
.social-link {
  color: #afb1b8;
}
.social-list-item-link:hover,
.social-list-item-link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.social-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.social-list {
  display: flex;
  padding: 16px 32px 30px;
}
.social-list-item {
  border-radius: 50%;
  width: 44px;
  height: 44px;

  color: #afb1b8;
}
.social-list > .social-list-item + .social-list-item {
  margin-left: 10px;
}

/* PORTFOLIO.HTML
Filter-фыльтри*/
.filter {
  display: flex;
  padding-bottom: 34px;
  padding-top: 79px;
  justify-content: center;
}

.filter .item + .item {
  margin-left: 8px;
}
.filter-title {
  color: var(--title-text-color);
}
.filter .link {
  color: var(--title-text-color);
  background-color: var(--primary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.filter .link:hover,
.filter .link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.filter-btn {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
}
/* Project */
.project {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  letter-spacing: 0.06em;
  margin-bottom: 94px;
}

.project .item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.project-content {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;

  padding: 20px 24px;
}

.project .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;
}
.project .text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin: 0;
}
.project-img {
  display: block;
  max-width: 100%;
  height: auto;
}
